.snackbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  width: max-content;

  flex-shrink: 0;
  box-shadow: var(--shadow-04);
  border-radius: var(--border-radius-02);
  background-color: var(--bg-color-normal);

  cursor: pointer;
  box-sizing: border-box;
  pointer-events: initial;

  overflow: hidden;

  -webkit-box-pack: start;
  -webkit-box-align: center;
  -webkit-tap-highlight-color: transparent;
}

.overlay {
  pointer-events: none;
}

.container {
  width: 100%;
  height: 100%;
  list-style: none;
  pointer-events: none;

  inset: 0;
  margin: 0;
  padding: var(--gap-10);
  position: fixed;

  gap: var(--gap-06);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  z-index: var(--z-index-toast);

  &.mini {
    margin-top: var(--gap-04);

    .snackbar {
      padding: var(--gap-02) var(--gap-04);
    }
  }
  &.medium {
    margin-top: var(--gap-05);

    .snackbar {
      line-height: var(--control-size-03);
      padding: var(--gap-03) var(--gap-05);
    }
  }
  &.huge {
    margin-top: var(--gap-07);

    .snackbar {
      padding: var(--gap-04) var(--gap-06);
    }
  }
}

.icon {
  font-size: 1em;
}

.info {
  .icon {
    color: rgb(var(--main-color) / 1);
  }
}
.warn {
  .icon {
    color: rgb(var(--warn-color) / 1);
  }
}
.danger {
  .icon {
    color: rgb(var(--error-color) / 1);
  }
}
.success {
  .icon {
    color: rgb(var(--success-color) / 1);
  }
}
